# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Type checking
.mypy_cache/
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VSCode (optional, if you ever use it)
.vscode/

# Python version file (pyenv)
.python-version